<div class="text-center">
    <h1 class="text-info">Inquary Conformation</h1>
    <p>We have receive Your inquary and someone from our team will contact soon</p>
    <img src="/images/patio.jpg" width="80%" />
</div>